@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  body{
    background-color: #fff;
  }

 .navbar-heading::after{
  position: absolute;
  content:'';
  width: 62px;
  height: 34px;
  inset:20px 26px ;
  background-color: #ffe54c;
  z-index: -1;
  transition: all 300ms;
 }
  
  .navbar-heading:hover::after {
    inset:12px 20px ; 
   }
   }
  